
.modal-icons{
    font-size: 20px;
}

.nav-pills .nav-link.active,  .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #6c757d;
}

a {
    color: #6c757d;
    text-decoration: none;
    background-color: transparent;
    
}

