










.modal-body{
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px;
    

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #6c757d;
}
a {
    color: #6c757d;
    text-decoration: none;
    background-color: transparent;
}